<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CloudOps Insight</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <div class="container">

        <header>
            <h1>CloudOps Insight</h1>
            <p>Cloud Cost & Infrastructure Monitor</p>
        </header>

        <section class="summary-card">
            <h2>Total Cloud Cost</h2>

            <div class="total-cost">
                ${{ "%.2f"|format(total_cost) }}
            </div>
        </section>

        <section class="chart-card">
            <h2>Cloud Cost by Service</h2>

            <img
                src="{{ url_for('static', filename='charts/cost_chart.png') }}"
                alt="Cloud Cost by Service"
            >
        </section>

    </div>

</body>
</html>